<!-- order_detail.html -->
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Детали заказа</title>
</head>

<body>
    <h1>Детали заказа</h1>

    <p><strong>Номер заказа:</strong> {{ order.number }}</p>
    <p><strong>Дата оформления:</strong> {{ order_date }}</p>

    <h3>Состав заказа:</h3>
    <ul>
        {% for item in order_items %}
            <li>{{ item.book.title }} - {{ item.quantity }} шт. - {{ item.book.price }} ₽</li>
        {% endfor %}
    </ul>

    <h3>Общая сумма: {{ total_cost }} ₽</h3>

    <br><br>
    <a href="{% url 'book_list' %}">Перейти к списку книг</a>
</body>

</html>
